* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, p {
    text-align: center;
}

/* index.ejs - before login */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c98a8a;
    color: #fff;
}

nav a {
    text-align: right;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.index-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "index-right index-left"
      "index-right index-left";

    padding: 2rem 2rem;
}
  
.index-right { 
    grid-area: index-right; 
    align-items: center;
    justify-content: center;
}
  
.index-left { 
    grid-area: index-left; 
    padding: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(114, 168, 168);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgb(206, 203, 200);
}

h4 {
    margin-top: 15px;
}


/* home.ejs - after login/sign up */

.summary-card {
    background-color: rgb(209, 169, 169);
}


.dashboard-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "index-right index-left"
      "index-right index-left";

    padding: 2rem 2rem;
}
  
.dashboard-right { 
    grid-area: index-right; 
    align-items: center;
    justify-content: center;
}
  
.dashboard-left { 
    grid-area: index-left; 
    text-align: center;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.chart-image {
    border-radius: 50%;
    background-color: rgb(114, 168, 168);
    padding: 10px;
}


/* home.ejs dashboard-overview & create exercise */

.dashboard-overview {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "over-view create-exercise create-exercise"
      "over-view create-exercise create-exercise";
}
  
.overview { 
    grid-area: over-view; 
    background-color: pink;
}
  
.create-exercise { 
    grid-area: create-exercise; 
    background-color: grey;
}

.overview-card {
    padding: .5rem;
}

.overview-card .card {
    height: 75px;
    margin: .5rem 0;
}

.primary-text {
    text-align: center;
}

.text {
    font-size: 15px;
    padding: .5rem;
}
  
.subtext {
    font-size: 15px;
    text-align: center;
    padding: .25rem;
    color: red;
}

/* form group > dashboard create */

.dashboard-create {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "create-log edit-log edit-log"
      "create-log edit-log edit-log";
    background-color: pink;
}
  
.create-log { 
    grid-area: create-log; 
    padding: .5rem;
}
  
.edit-log { 
    grid-area: edit-log; 
    padding: .5rem;
    background-color: rgb(190, 182, 182);
}

.logtext {
    font-size: 15px;
    text-align: center;
    padding: .25rem;
    color: rgb(61, 54, 54);
}

